body {
    font-family: Arial, sans-serif;
}

#imageContainer img {
    width: 200px;
    height: auto;
    margin: 10px;
}

.suggestion-box {
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    width: 300px;
    position: absolute;
    background-color: white;
    z-index: 1000;
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #f0f0f0;
}
